@model IEnumerable<FlipSideModels.Story>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.shouldrun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateran)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.byline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.shouldrun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateran)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.byline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.link)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
